---
import { type CollectionEntry, getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Window from "../../components/Window.svelte";

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await post.render();
---

<Layout>
	<Window title="Services" order={0} titleTag='h1' client:load>
		<div class="rte container">
			<Content/>
		</div>
	</Window>
</Layout>
