@mixin pixel-borders() {
	border: var(--border-thickness) solid var(--border-color);
	mask: conic-gradient(
			at var(--border-thickness) var(--border-thickness),
			#000 270deg,
			#0000 0
		)
		0 0 / calc(100% - var(--border-thickness))
		calc(100% - var(--border-thickness));
}

@mixin focus() {
	position: relative;
	box-decoration-break: clone;

	&:focus {
		outline: 0.25rem solid transparent;
		z-index: 1;
	}

	&:focus::before {
		content: "";
		position: absolute;
		inset: 0;
		outline: 3px solid var(--color-violet-darker);
		outline-offset: var(--offset);
		z-index: 1;
	}

	&:focus::after {
		content: "";
		position: absolute;
		inset: 0;
		outline: 3px dotted var(--color-white);
		outline-offset: var(--offset);
		z-index: 1;
	}
}
