---
import Layout from '../layouts/Layout.astro';
import Window from "../components/Window.svelte";
import Testimonials from "../components/Testimonials.svelte";

import testimonials from "../content/testimonials/testimonials.json";
---

<Layout
	title="About"
>
	<h1 class="page-title">About</h1>
	<Window title="Bio" order={1} isStacked={true} style="--block-start: 1rem;" client:load>
		<div class="stack rte">
			<p>Hi! I'm Nic. I build websites, draw pictures and eat lots of sushi, and would love to do any of those things for you. I'm based in Hong Kong, but I've had 8+ years of experience working with people all across the globe!</p>
			<h3>Career Highlights</h3>
			<ul>
				<li>I've been a freelancer for 8+ years, with hundreds of completed projects and dozens of happy clients.</li>
				<li>I'm a member of the W3C Maps4HTML Community Group, and have co-authored the <a href="https://maps4html.github.io/HTML-Map-Element-UseCases-Requirements/">Use Cases and Requirements for Standardizing Web Maps</a> report.</li>
				<li>I'm a IAAP-certified <a href="https://www.accessibilityassociation.org/s/wascertificants">Web Accessibility Specialist</a></li>
				<li>I've been published at one of my favorite web publications, <a href="https://www.smashingmagazine.com/">Smashing Magazine</a></li>
				<li>I've spoken at 3 events and counting!</li>
			</ul>
			<p>
		</div>
	</Window>
	<Window title="Testimonials" order={2} isStacked={true} style="--max-height: calc(100% - 4rem); --large-max-width: 50ch; --block-end: 2rem; --inline-end: 2rem;  }" client:load>
		<Testimonials {testimonials} client:load/>
	</Window>
</Layout>
