---
import Layout from "../layouts/Layout.astro";
import Window from "../components/Window.svelte";
import { getArtwork } from "../scripts/data";
import Artwork from "../components/Artwork.svelte";

const artwork = await getArtwork();

// We're keeping layouts agnostic to the artwork because I know I will want to bump fresh artwork to the front without redoing everything.
const layouts = [
	"--max-width: 20%; --block-start: 7rem; --inline-start: 0;",
	"--max-width: 12%; --block-start: 8rem; --inline-start: 18%;",
	"--max-width: 25%; --block-start: 1rem; --inline-start: 35%",
	"--max-width: 9rem; --block-start: 2.5rem; --inline-start: 55%",
	"--max-width: 12rem; --block-start: 2rem; --inline-end: 7rem;",
	"--max-width: 16rem; --block-start: 12rem; --inline-start: 1rem;",
	"--max-width: 22rem; --block-end: 10%; --inline-start: 19rem;",
	"--max-width: 12rem; --block-start: 14rem; --inline-start: 36rem;",
	"--max-width: 9rem; --block-start: 12rem; --inline-end: 25%;",
	"--max-width: 13rem; --block-end: 10%; --inline-end: 1%;",
	"--max-width: 12rem; --block-end: 1%; --inline-start: 0;",
	"--max-width: 14rem; --block-end: 1rem; --inline-start: 38%;",
];
---

<Layout
	title="Art"
	description="Personal artwork that I like to make in my free time.">
	<div class="artwork">
		<h1 class="page-title">Artwork</h1>
		{
			artwork.map(({ data: art }, index) => (
				<Window
					title={art.title}
					style={layouts[index]}
					order={index}
					client:load>
					<Artwork art={art} client:load />
				</Window>
			))
		}
	</div>
</Layout>

<style lang="scss">
	.artwork {
		--text-padding: 0;
		display: flex;
		flex-direction: column;
		min-block-size: 100%;

		:global(.window__wrapper--maximized) {
			--text-padding: 0.5rem;
		}
	}

	@media (max-width: 62em) {
		.artwork {
			:global(.window__wrapper) {
				max-inline-size: 100%;
			}
		}
	}
	@media (min-width: 62em) and (orientation: landscape) {
		:global(.artwork .window__wrapper:not(.window__wrapper--maximized)) {
			inset-inline-start: calc(
				var(--header-width) + var(--inline-start, auto)
			) !important;
		}
	}
</style>
