---
import { getPosts } from "../scripts/data";
import Layout from "../layouts/Layout.astro";
import Window from "../components/Window.svelte";
import ClientsList from "../components/ClientsList.svelte";
import Posts from "../components/Posts.svelte";

const posts = await getPosts();

const limitedPosts = posts.slice(0, 8);
---

<Layout>
	<h1 class="page-title">Home</h1>
	<Window
		title="Introduction"
		style="--max-width: 24rem; --block-start: 0rem; --inline-start: 2rem;"
		isAbsolute={true}
		order={0}
		client:load>
		<div class="portrait__wrapper">
			<img
				class="portrait"
				src="/pixels/portrait.png"
				alt="Pixel art portrait of Nic Chan in purple. She is a long-haired East Asian woman with a neutral expresion."
				width="150"
				height="150"
			/>
		</div>
		<div class="stack">
			<p>Hi, I'm Nic Chan and I am an independent front-end web developer.</p>
			<p>
				I help companies around the world build fast, accessible and
				user-friendly web experiences.
			</p>
		</div>
	</Window>
	<Window
		title="Clients"
		style="--max-width: 27rem; --block-start: -3rem;  --inline-start: 24rem;"
		isAbsolute={true}
		order={1}
		client:load>
		<div class="stack">
			<p>
				I am proud to be trusted by companies big and small, including these
				organizations:
			</p>
			<ClientsList />
		</div>
	</Window>
	<Window
		title="Featured Posts"
		style="--max-width: 50ch; --block-end: 1rem; --inline-end: 5%;"
		isAbsolute={true}
		order={2}
		client:load>
		<Posts posts={limitedPosts} />
		<a class="button--ui button--large" href="/blog ">
			<span class="button--ui__content">Read more blog posts -&gt;</span>
		</a>
	</Window>
</Layout>

<style lang="scss">
	.portrait__wrapper {
		padding-block-end: 0.5rem;
	}

	.portrait {
		--border-color: var(--color-black);
		display: block;
		@include pixel-borders();
	}

	@media (min-width: 40em) {
		.portrait__wrapper {
			padding-inline-start: 0.5rem;
			padding-block-start: 0.25rem;
			float: right;
		}
	}
</style>
