---
import Layout from '../layouts/Layout.astro';
import Window from "../components/Window.svelte"
import ClientsList from "../components/ClientsList.svelte";

---
<Layout>
	<h1 class="page-title">Home</h1>
	<Window title="Introduction" style="--window-max-width: 25rem; --block-start: 2rem; --inline-start: 2rem;" isStacked={true} order={0}client:load>
		<div class="portrait__wrapper">
			<img class="portrait" src="/pixels/portrait.png" alt="Nic Chan" width="150" height="150"/>
		</div>
		<div class="stack">
			<p>Hi, I'm Nic Chan and I am an independent front-end web developer.</p>
			<p>I help companies around the world build fast, accessible and user-friendly web experiences.</p>
		</div>
	</Window>
	<Window title="Clients" style="--window-max-width: 27rem; --block-start: 17rem;  --inline-start: 22rem; --padding-block-end: 1rem;" isStacked={true} order={1} client:load>
		<div class="stack">
			<p>I am proud to be trusted by companies big and small, including these organizations:</p>
			<ClientsList />
		</div>
	</Window>
	<Window title="Featured Posts" style="--window-max-width: 80ch; --block-end: 1rem; --inline-end: 1rem;" isStacked={true} order={2} client:load>

	</Window>
</Layout>

<style lang="scss">
	.portrait__wrapper {
		padding-bottom: 0.5rem;
	}

	.portrait {
		display: block;
		@include pixel-borders(#000, var(--border-thickness));
	}

	@media (min-width: 40em) {
		.portrait__wrapper {
			padding-inline-start: 0.5rem;
			padding-block-start: 0.25rem;
			float: right;
		}
	}
</style>
