---
import Layout from '../layouts/Layout.astro';
import Window from "../components/Window.svelte";
import Content from '../content/pages/services.md';
---
<Layout
	title="Services"
>
	<Window title="Services" order={0} titleTag='span' client:load>
		<div class="container rte">
			<Content/>
		</div>
	</Window>
</Layout>
