---
import FooterWindows from "./FooterWindows.svelte";
import Settings from './Settings.svelte'

const ariaCurrent = Astro.url.pathname === "/" ? "page" : undefined;
---

<footer class="layout__footer footer" id="footer">
	<nav class="footer__nav" aria-label="Footer">
		<a class="footer__home button--ui" href="/" aria-current={ariaCurrent}>
			<span class="button--ui__content">
				<svg
					class="button__icon"
					xmlns="http://www.w3.org/2000/svg"
					width="16"
					height="16">
					<path fill-rule="evenodd" d="M0 0h16v16H0z" fill="#A75293"></path>
				</svg>
				Home
			</span>
		</a>
		<span class="footer__divider"></span>
		<FooterWindows client:load />
		<Settings />
	</nav>
</footer>

<style lang="scss">
	.footer {
		grid-column: span 2;
		inline-size: 100%;
		padding: 0 var(--border-thickness);
		background-color: var(--color-footer-bg);
		overflow: hidden;
		view-transition-name: footer;

		@media (max-height: 34em) {
			view-transition-name: none;
		}
	}

	.footer__nav {
		display: flex;
		align-items: center;
	}

	.footer__home {
		--offset: calc(var(--border-thickness) * -1);
		white-space: nowrap;
	}

	.footer__divider {
		display: block;
		margin: 0 0.25rem;
		inline-size: 0.0625rem;
		align-self: stretch;
		block-size: 100%;
	}

	.footer__current {
		padding: 0 0.25rem;
		border: var(--border-thickness) inset;
		background-color: var(--color-footer-bg-active);
	}
</style>
