---
const { aspectRatio, source } = Astro.props;
---

<video-playback>
	<form>
		<label>Video playback Speed</label>
		<div class="form">
			<div class="form__input focus-wrapper">
				<input
					type="number"
					value="0.5"
					step="0.1"
					name="playbackSpeed"
					max="2"
					min="0"
				/>
			</div>
			<button class="button--ui">
				<span class="button--ui__content">Play Video</span>
			</button>
		</div>
	</form>

	<figure>
		<div class="video" style={`aspect-ratio: ${aspectRatio}`}>
			<video controls>
				<source type="video/mp4" src={source} />
			</video>
		</div>
		<figcaption>
			<slot />
		</figcaption>
	</figure>
</video-playback>

<style>
	video-playback {
		display: block;
		@include pixel-borders();
		margin: var(--space-s) 0;
		padding: 0.5rem 1rem;
		background-color: var(--color-box-bg);
		color: var(--color-box-text);
	}

	figure {
		margin: 0;
	}

	.form {
		display: flex;
		gap: 1rem;
		margin-block-end: var(--space-xs);
	}

	.form__input {
		flex: 1 1 50%;
	}

	input {
		display: block;
		width: 100%;
		--border-color: var(--color-violet-lighter);
		background-color: var(--color-window-bg);
		color: var(--color-window-text);
	}

	.button--ui,
	.button--ui__content {
		min-height: 100%;
		line-height: 1.5;
	}
</style>

<script>
	class VideoPlayback extends HTMLElement {
		form: HTMLFormElement | null;
		video: HTMLVideoElement | null;

		constructor() {
			super();

			this.form = this.querySelector("form");
			this.video = this.querySelector("video");
			this.bindEventListeners();
		}

		bindEventListeners() {
			this.form?.addEventListener("submit", (event) => {
				event.preventDefault();
				const formData = new FormData(this.form as HTMLFormElement);
				const speed = Number.parseFloat(
					formData.get("playbackSpeed") as string
				);
				(this.video as HTMLVideoElement).playbackRate = speed;
				(this.video as HTMLVideoElement).currentTime = 0;
				this.video?.play();
			});
		}
	}

	if ("customElements" in window) {
		customElements.define("video-playback", VideoPlayback);
	}
</script>
