---
import { getWork } from "../../scripts/data";
import Layout from "../../layouts/Layout.astro";
import Window from "../../components/Window.svelte";
import Work from "../../components/Work.svelte";

const work = await getWork();
---

<Layout title="Work">
	<div class="layout__grid work">
		<h1 class="page-title">Work</h1>
		<div class="layout__cell work__clients">
			<Window title="Client Work" order={0} client:load>
				<p>Just a few of favorite my client projects over the years!</p>
				<Work work={work} />
			</Window>
		</div>
	</div>
</Layout>

<style>
	@media (min-width: 62em) and (min-height: 34em) {
		.work {
			grid-template-columns: 70ch 1fr;
		}

		.work__clients {
			--max-width: 100%;
			grid-column: 1;
		}
	}
</style>
