---
import { ViewTransitions } from "astro:transitions";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.svelte";
import Footer from "../components/Footer.astro";
import Sprites from "@components/Sprites.astro";

const { title, description } = Astro.props;
const url = Astro.url;
---

<!doctype html>
<html lang="en-US">
	<head>
		<BaseHead
			title={title ? `${title} - Nic Chan` : "Nic Chan"}
			description={description}
		/>
		<ViewTransitions />
	</head>
	<body class="layout">
		<Header />
		<main class="layout__main" id="main" tabindex="-1" aria-label="Main">
			<slot />
		</main>
		<Footer />
		<div class="sprites">
			<Sprites />
		</div>
	</body>
</html>

<style>
	.sprites {
		display: none;
	}
</style>

<script is:inline>
	async function fontsLoaded() {
		let ready = await document.fonts.ready;
		if (ready) {
			document.documentElement.setAttribute("fonts-loaded", true);
		}
	}

	fontsLoaded();
</script>
