.button--ui {
	--border-color: var(--color-violet-lighter);
	--offset: var(--border-thickness);
	--background-color: var(--color-button-ui-bg);
	position: relative;
	display: inline-block;
	padding: 0;
	border: none;
	background-color: transparent;
	text-decoration: none;

	&:hover {
		--background-color: var(--color-button-ui-hover-bg);
	}

	&[aria-pressed="true"],
	&[aria-expanded="true"],
	&[aria-current],
	&:hover,
	&:active {
		transform: translate3d(1px, 1px, 0);

		.button--ui__content {
			box-shadow: inset calc(var(--border-thickness) * -1)
					calc(var(--border-thickness) * -1) var(--color-button-ui-bg),
				inset var(--border-thickness) var(--border-thickness)
					var(--color-button-ui-shadow);
		}
	}

	&[aria-disabled] {
		opacity: 0.6;
		pointer-events: none;
	}

	@include focus();
}

.button--ui__content {
	display: block;
	background-color: var(--color-button-ui-bg);
	padding: calc(var(--border-thickness) * 2);
	padding-inline-end: calc(var(--border-thickness) * 2 + 2px);
	color: var(--color-button-ui-text);
	font-size: 1rem;
	line-height: 1;
	box-shadow: inset calc(var(--border-thickness) * -1)
			calc(var(--border-thickness) * -1) var(--color-button-ui-shadow),
		inset var(--border-thickness) var(--border-thickness)
			var(--color-button-ui-highlight);
	background-color: var(--background-color);
	@include pixel-borders();

	.button--large & {
		font-size: 1.25rem;
	}
}

.button__icon {
	vertical-align: text-bottom;
}
