.card {
	--border-color: var(--color-card-border);
	--offset: var(--border-thickness);
	--background-color: var(--color-card-bg);
	display: block;
	width: 100%;
	position: relative;
	display: inline-block;
	padding: 0;
	border: none;
	background-color: transparent;
	text-decoration: none;

	&:hover {
		--background-color: var(--color-card-hover-bg);
	}

	&:hover,
	&:active {
		transform: translate3d(1px, 1px, 0);

		.card__content {
			box-shadow: inset calc(var(--border-thickness) * -1)
					calc(var(--border-thickness) * -1) var(--color-card-bg),
				inset var(--border-thickness) var(--border-thickness)
					var(--color-card-shadow);
		}
	}

	@include focus();
}

.card__content {
	display: block;
	background-color: var(--color-card-bg);
	padding: calc(var(--border-thickness) * 3);
	padding-inline-end: calc(var(--border-thickness) * 3 + 2px);
	color: var(--color-card-text);
	font-size: 1rem;
	line-height: 1;
	box-shadow: inset calc(var(--border-thickness) * -1)
			calc(var(--border-thickness) * -1) var(--color-card-shadow),
		inset var(--border-thickness) var(--border-thickness)
			var(--color-card-highlight);
	background-color: var(--background-color);
	@include pixel-borders();
}

.card__link {
	&::after {
		content: "";
		display: block;
		position: absolute;
		inset: 0;
		z-index: 1;
	}
}

.button__icon {
	vertical-align: text-bottom;
}
