@font-face {
	font-family: "Sysfont";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("/fonts/sysfont.woff2") format("woff2");
}

@font-face {
	font-family: "W95fa";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("/fonts/w95fa.woff2") format("woff2");
}
