*,
*::before,
*::after {
	box-sizing: border-box;
}

::selection {
	background-color: light-dark(
		var(--color-mauve-darkest),
		var(--color-mauve-lightest)
	);
	color: light-dark(var(--color-white), var(--color-violet));
}

html,
body {
	min-height: 100%;
	font-family: var(--font-base);
	line-height: 1.6;
	background-color: var(--color-bg);
	background-image: url("https://res.cloudinary.com/nicchan/image/upload/f_auto/bg-5.png");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

img {
	max-inline-size: 100%;
	block-size: auto;
	image-rendering: crisp-edges;
	image-rendering: -moz-crisp-edges;
	image-rendering: pixelated;
	// background-color: var(--color-image-fallback);
}

video {
	max-inline-size: 100%;
	block-size: auto;
}

p {
	margin: 0;

	// Have to qualify as not empty as Svelte injects an extra p tag? fun
	&:not(:empty) + &:not(:empty) {
		margin-block-start: 1rem;
	}
}

button,
input {
	font-family: inherit;
}

button * {
	pointer-events: none;
}

.stack > * + * {
	margin-block-start: 1rem;
}

pre,
code {
	background-color: var(--color-box-bg);
	color: var(--color-box-text);
}

pre {
	--border-color: var(--color-box-border);
	min-width: 0;
	width: 100%;
	overflow: auto;

	&:has(code) {
		@include pixel-borders;
	}
}

code {
	padding: 0.25rem;
}

pre code {
	display: block;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	tab-size: 1rem;
	font-family: monospace;
}

input,
select {
	@include pixel-borders;
	background-color: var(--color-box-bg);
	padding: calc(var(--border-thickness) * 2);
	color: inherit;
	font-size: inherit;
}

hr {
	margin: var(--space-xs) 0;
	border: none;
	border-bottom: var(--border-thickness) dashed var(--color-text-accent);
}

@keyframes animate {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes animate2 {
	from {
		width: 10px;
	}
	to {
		width: 30px;
	}
}

.hidden {
	opacity: 0;
}

::view-transition-group(footer) {
	z-index: 1000;
}
