*,
*::before,
*::after {
	box-sizing: border-box;
}

*::selection {
	background-color: var(--color-violet-darker) !important;
	color: var(--color-white) !important;
}

html,
body {
	min-height: 100%;
	font-family: var(--font-base);
	line-height: 1.6;
	background-color: var(--color-bg);
	background-image: url("/pixels/bg-5.png");
	background-size: cover;
	background-position: center;
	letter-spacing: 0.02em;
}

img {
	max-inline-size: 100%;
	block-size: auto;
	image-rendering: crisp-edges;
	image-rendering: -moz-crisp-edges;
	image-rendering: pixelated;
	// background-color: var(--color-image-fallback);
}

video {
	max-inline-size: 100%;
	block-size: auto;
}

p {
	margin: 0;

	& + & {
		margin-block-start: 1rem;
	}
}

button,
input {
	font-family: inherit;
}

button * {
	pointer-events: none;
}

.stack > * + * {
	margin-block-start: 1rem;
}

@keyframes animate {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
// ::view-transition-old(window),
// ::view-transition-new(window) {
// 	animation: 0.3s animate;
// }
@keyframes animate2 {
	from {
		width: 10px;
	}
	to {
		width: 30px;
	}
}
// ::view-transition-old(*) {
// 	display: none;
// 	animation: 0s animate2;
// }

// ::view-transition-new(*) {
// 	display: none;
// 	animation: 0s animate 0.3s;
// }

.hidden {
	opacity: 0;
}
