.layout {
	display: grid;
	grid-template-rows: 1fr var(--footer-height, 2.5rem);
	margin: 0;
	align-items: start;
	min-height: 100dvh;
}

.layout__header {
	position: fixed;
	inset-block-start: 0;
	padding: 0.5rem;
	padding-block-end: 1rem;
	text-align: center;
	overflow-y: auto;
	z-index: 10;
}

.layout__main {
	padding-inline-start: var(--header-width);
	padding-block: 0.5rem;
	padding-inline-end: 0.5rem;
}

.layout__grid {
	display: grid;
	gap: var(--window-spacing);
	min-height: 100%;
}

.layout:has(.window__wrapper--maximized) {
	grid-template-columns: 100%;
}

.layout:has(.window__wrapper--maximized) .layout__main {
	grid-column: 1;
	grid-row: 1;
	padding: 0;
}

:is(.layout__grid, .artwork):has(.window__wrapper--maximized)
	> *:not(.post__toc):not(:has(.window__wrapper--maximized)) {
	display: none;
}

/* override template specific layouts */
.layout__grid:has(.window__wrapper--maximized) {
	gap: 0;
	grid-template-columns: 100% !important;
	grid-template-rows: 100% 0 0 0 0 !important;
	min-block-size: calc(100dvh - var(--footer-height));
}

.layout__cell:has(.window__wrapper--maximized) {
	grid-row: 1 / -1 !important;
	grid-column: 1 / -1 !important;
	padding-inline-start: 0 !important;
}

@media (min-height: 36em) {
	.layout__header {
		align-self: start;
	}

	.layout__main {
		min-block-size: 0;
		padding-block: var(--page-block-padding);
	}

	.layout__footer {
		position: fixed;
		inset-block-end: 0;
	}
}

@media (min-width: 38em) {
	.layout {
		min-height: 100dvh;
	}

	.layout__main {
		position: relative;
		min-block-size: 0;
		padding-inline-end: var(--page-inline-padding);
		padding-inline-start: calc(
			var(--page-inline-padding) + var(--header-width)
		);
	}

	.layout__header {
		padding-block: var(--page-block-padding);
		align-self: self-start;
	}
}

@media (min-width: 62em) and (min-height: 36em) and (orientation: landscape) {
	.layout {
		--header-width: 6rem;
		--window-spacing: 0;
	}

	.layout__grid {
		block-size: 100%;
	}

	.layout__main {
		block-size: 100%;
		overflow-y: visible;
	}

	.layout__cell {
		position: relative;
		align-self: stretch;
		scroll-padding-top: 5rem;
		inline-size: 100%;
		block-size: 100%;
	}
}
