.layout {
	display: grid;
	grid-template-columns: 5rem 1fr;
	grid-template-rows: 1fr auto;
	margin: 0;
	min-height: 100dvh;
}

.layout__header {
	position: fixed;
	inset-block-start: 0;
	padding: 0.5rem;
	padding-block-end: 1rem;
	text-align: center;
	overflow-y: auto;
}

.layout__main {
	grid-row: 1;
	grid-column: 2;
	padding-block: 0.5rem;
	padding-inline-end: 0.5rem;
}

.layout__grid {
	display: grid;
	gap: var(--window-spacing);
	min-height: 100%;
}

.layout:has(.window__wrapper--maximized) {
	grid-template-columns: 100%;
}

.layout:has(.window__wrapper--maximized) .layout__main {
	grid-column: 1;
	grid-row: 1;
	padding: 0;
}

:is(.layout__grid, .artwork):has(.window__wrapper--maximized)
	> *:not(:has(.window__wrapper--maximized)) {
	display: none;
}

/* override template specific layouts */
.layout__grid:has(.window__wrapper--maximized) {
	gap: 0;
	grid-template-columns: 100% !important;
	grid-template-rows: 100% 0 0 0 0 !important;
}

.layout__cell:has(.window__wrapper--maximized) {
	grid-row: 1 / -1 !important;
	grid-column: 1 / -1 !important;
	padding-inline-start: 0 !important;
}

@media (min-height: 36em) {
	.layout__header {
		align-self: start;
	}

	.layout__main {
		block-size: 100%;
		min-block-size: 0;
		padding-block-end: calc(
			var(--footer-height, 3rem) + var(--page-block-padding)
		);
	}

	.layout__footer {
		position: fixed;
		inset-block-end: 0;
	}
}

@media (min-width: 38em) {
	.layout {
		grid-template-columns: 6.5rem 1fr;
	}

	.layout__main {
		position: relative;
		min-block-size: 0;
		padding-block-start: var(--page-block-padding);
		padding-inline: var(--page-inline-padding);
	}

	.layout__header {
		padding-block: var(--page-block-padding);
		align-self: self-start;
	}
}

@media (min-width: 62em) {
	.layout__grid {
		--window-spacing: 0;
		block-size: 100%;
	}

	.layout__main {
		overflow-y: visible;
	}

	.layout__cell {
		position: relative;
		align-self: stretch;
		scroll-padding-top: 5rem;
		inline-size: 100%;
		block-size: 100%;
	}
}

@media (min-width: 62em) and (min-height: 36em) {
	.layout {
		overflow-x: clip;
	}
}
