.rte {
	h2 {
		margin-block-start: var(--space-m);
		margin-block-end: 1rem;
		border-block-end: var(--border-thickness) dashed var(--color-text-accent);
		color: var(--color-text-heading);
	}

	h3,
	h4,
	dt {
		margin-block-start: var(--space-m);
		margin-block-end: 0.5rem;
		color: var(--color-text-subheading);
	}

	ul,
	ol {
		margin: 1rem 0;
		padding-inline-start: 2rem;
	}

	li + li {
		margin-block-start: 0.5rem;
	}

	ol {
		list-style-type: none;
	}

	ol li {
		position: relative;
		counter-increment: list-item;

		&::before {
			content: counter(list-item);
			position: absolute;
			inset-block-start: 0.425rem;
			display: flex;
			inline-size: 1.375rem;
			block-size: 1.375rem;
			justify-content: center;
			align-items: center;
			background-color: var(--color-text-accent-bg);
			inset-inline-start: -2rem;
			font-family: var(--font-accent);
		}
	}

	strong {
		font-weight: 400;
		outline: var(--border-thickness) solid var(--color-text-highlight);
		background-image: linear-gradient(
			to top,
			var(--color-text-highlight) 100%,
			transparent 0
		);
	}

	ul {
		list-style: none;
	}

	ul li::marker {
		content: ">  ";
		color: var(--color-text-accent);
	}

	a {
		color: currentColor;
		text-decoration-color: var(--color-link-underline);

		&:hover {
			color: var(--color-link-underline);
		}

		&:focus {
			outline: var(--border-thickness) dotted var(--color-outline);
			outline-offset: var(--border-thickness);
		}
	}

	img {
		margin: var(--space-s) auto;
		image-rendering: initial;
		@include pixel-borders();
	}

	figure img {
		margin: 0 auto;
	}

	figure {
		margin: var(--space-s) 0;
	}

	figcaption {
		line-height: 1.2;
	}

	& > .demo,
	& > figure,
	& iframe,
	& lite-youtube {
		margin: var(--space-s) 0;
	}

	iframe,
	video-playback {
		@include pixel-borders();
	}

	.video {
		inline-size: 100%;
		max-inline-size: 100%;
		max-block-size: 60vh;
	}

	video {
		max-inline-size: 100%;
		max-block-size: 60vh;
	}

	blockquote {
		margin: var(--space-s) 0;
		padding-inline-start: 1rem;
		border-inline-start: calc(var(--border-thickness) * 2) solid
			var(--color-text-accent);
		color: var(--color-text-heading);
	}

	.button--ui {
		margin-block-start: var(--space-s);
	}
}

.post-callout {
	--border-color: var(--color-box-border);
	margin: var(--space-s) 0;
	padding: var(--space-xs);
	background-color: var(--color-box-bg);
	color: var(--color-box-text);
	@include pixel-borders;

	& *:first-child {
		margin-block-start: 0;
	}

	& > *:last-child {
		margin-block-end: 0;
	}
}

.heading-wrapper {
	position: relative;

	h2,
	h3 {
		padding-inline-end: 3rem;
	}

	.heading-wrapper__anchor {
		position: absolute;
		display: block;
		inline-size: 1.5rem;
		block-size: 1.5rem;
		font-size: 1.5rem;
		line-height: 1;
		inset-block-start: 50%;
		inset-inline-end: -0.25rem;
		text-align: center;
		transform: translateY(-50%);
		text-decoration: none;
		color: var(--color-text-accent);
	}
}
