h1,
h2,
h3,
h4 {
	margin: 0;
	font-family: var(--font-accent);
	font-weight: 400;
}

.page-title {
	margin-block-end: -0.5rem;
	line-height: 1;
	color: var(--color-page-title);
	filter: drop-shadow(0.0625em 0.0625em 0 var(--color-page-title-accent));
	font-size: var(--title-font-size);
}
