h1,
h2,
h3,
h4,
.text--heading {
	margin: 0;
	font-family: var(--font-accent);
	font-weight: var(--font-heading-weight);
}

h1,
.h1 {
	font-family: var(--font-accent);
	font-size: clamp(2rem, 3vw + 1rem, 3rem);
	line-height: 1.1;
}

h2,
.h2,
h2 + .ha {
	font-family: var(--font-accent);
	font-size: clamp(1.5rem, 2vw + 1rem, 2.5rem);
	line-height: 1.1;
	color: var(--color-text-heading);
}

h3,
.h3,
dt,
h3 + .ha {
	color: var(--color-text-subheading);
	font-family: var(--font-accent);
	font-size: clamp(1.5rem, 1vw + 1rem, 1.75rem);
	line-height: 1.2;
}

h4,
.h4,
h4 + .ha {
	color: var(--color-text-subheading);
	font-family: var(--font-accent);
	font-size: inherit;
	line-height: 1.2;
}

[data-user-font="antialiased"] {
	.ha {
		line-height: 1;
	}
}

.page-title {
	display: inline-block;
	margin-block-end: 0.5rem;
	inline-size: fit-content;
	line-height: 1;
	color: var(--color-page-title);
	filter: drop-shadow(0.0625em 0.0625em 0 var(--color-page-title-accent));
	font-size: var(--title-font-size);
	background: linear-gradient(
		135deg,
		var(--color-page-title) 50%,
		var(--color-magenta-darkest)
	);
	background-clip: text;
	color: transparent;
}

[data-user-font="antialiased"] .page-title {
	font-weight: 700;
}

.text--base {
	font-family: var(--font-base);
	font-size: 1.5rem;
	line-height: 1.5;
}
