@use "../mixins" as *;

.visually-hidden:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	inline-size: 1px;
	// should be unneccessary but fixes weird false positive in WAVE
	color: black;
	background-color: white;
}

.focus-wrapper {
	@include focus("focus-within");
}

.pixel-image {
	image-rendering: crisp-edges;
	image-rendering: -moz-crisp-edges;
	image-rendering: pixelated;
}

// Probably not ideal to have it this way, but fine to leave for now
astro-island:not(:has(.window__wrapper--minimized))
	+ astro-island
	.window__wrapper:not(.window__wrapper--maximized) {
	margin-block-start: var(--window-spacing);
}
