:root {
	--color-magenta-darkest: #581e5e;
	--color-magenta-darker: #853680;
	--color-magenta: #a75293;
	--color-magenta-lighter: #cb96cc;
	--color-magenta-lightest: #e9dcee;
	--color-teal-darkest: #18656e;
	--color-teal-darker: #52a2a7;
	--color-teal: #9ddacb;
	--color-teal-lighter: #c1edc7;
	--color-teal-lightest: #f1fae9;
	--color-mauve-darkest: #26202c;
	--color-mauve-darker: #5f4c65;
	--color-mauve: #9c7a9d;
	--color-mauve-lighter: #c6b0c6;
	--color-mauve-lightest: #eee7ee;
	--color-violet-darker: #17162b;
	--color-violet: #2c2b4b;
	--color-violet-lighter: #4f4d7e;
	--color-violet-lightest: #7d7db0;
	--color-lavender: #a3a3c7;
	--color-lavender-lighter: #c6c6dc;
	--color-black: #000;
	--color-gray-darkest: #5a6064;
	--color-gray-darker: #878894;
	--color-gray: #bdb6c4;
	--color-gray-lighter: #d7dde1;
	--color-off-white: #fafafa;
	--color-white: #fff;

	// These don't have light-dark equivalents.
	--color-bg: #716eba;
	--color-settings-bg-hover: var(--color-teal-lightest);

	--color-button-ui-bg: var(--color-gray-lighter);
	--color-button-ui-shadow: var(--color-gray-darker);
	--color-button-ui-highlight: var(--color-white);
	--color-button-ui-text: var(--color-violet);
	--color-button-ui-hover-bg: var(--color-mauve-lighter);

	--color-page-title: var(--color-violet-darker);
	--color-page-title-accent: var(--color-teal-darker);
	--color-page-subtitle-accent: var(--color-mauve-lighter);

	// These have light-dark equivalents.
	--color-nav-link-bg: var(--color-mauve-lightest);
	--color-nav-link-text: var(--color-violet);
	--color-outline: var(--color-violet-darker);
	--color-footer-bg: var(--color-gray);
	--color-settings-bg: var(--color-gray-lighter);

	--color-card-bg: var(--color-gray-lighter);
	--color-card-shadow: var(--color-gray-darker);
	--color-card-highlight: var(--color-white);
	--color-card-text: var(--color-violet);
	--color-card-hover-bg: var(--color-mauve-lighter);
	--color-card-border: var(--color-violet-lighter);
	--color-card-tag-bg: var(--color-lavender);
	--color-card-tag-text: var(--color-black);

	--color-window-bg: var(--color-white);
	--color-window-text: var(--color-violet);
	--color-window-header-bg: linear-gradient(
		to right,
		var(--color-lavender),
		var(--color-teal)
	);
	--color-window-header-text: var(--color-violet);

	--color-panel-bg: var(--color-gray);
	--color-panel-input-bg: var(--color-gray-lighter);

	--color-testimonial-name: var(--color-violet-lighter);
	--color-testimonial-bg: var(--color-mauve-lightest);
	--color-response-bg: var(--color-teal-lighter);
	--color-response-name: var(--color-violet);

	--color-link-underline: var(--color-magenta);
	--color-text-accent: var(--color-mauve);
	--color-text-accent-bg: var(--color-mauve-lighter);
	--color-text-heading: var(--color-violet-lighter);
	--color-text-subheading: var(--color-magenta-darker);
	--color-text-highlight: var(--color-teal-lighter);
	--color-box-border: var(--color-lavender);
	--color-box-bg: var(--color-off-white);
	--color-box-text: var(--color-violet-lighter);
	--color-list-bg-focus: var(--color-magenta-lighter);

	--color-accent-text-1: var(--color-teal-lighter);
	--color-accent-text-2: var(--color-magenta-lighter);
	--color-sparkle: var(--color-magenta);

	--font-accent-fallback: "Seravek Fallback", "Gill Sans Nova Fallback",
		"Ubuntu Fallback", "Calibri Fallback", source-sans-pro, sans-serif;
	--font-pixel-fallback: "Seravek Fallback", "Gill Sans Nova Fallback",
		"Ubuntu Fallback", "Calibri Fallback", source-sans-pro, sans-serif;
	--font-code-fallback: monospace;
	--font-accent: var(--font-accent-fallback);
	--font-pixel: var(--font-pixel-fallback);
	--font-code: var(--font-code-fallback);

	--font-base: var(--font-pixel);
	--border-thickness: 0.1875rem;
	--border-color: var(--color-violet-darker);
	--text-padding: calc(var(--border-thickness) * 2)
		calc(var(--border-thickness) * 3);

	--max-width: 66ch;
	--title-font-size: clamp(2.5rem, 7vw + 1rem, 4.5rem);
	--page-block-padding: 0.5rem;
	--page-inline-padding: 5%;
	--window-spacing: 0.5rem;
	--button-font-size: 1.25rem;
	--header-width: 5rem;

	--space-3xs: clamp(0.25rem, 0.163rem + 0.4348vw, 0.5rem);
	--space-2xs: clamp(0.5rem, 0.3261rem + 0.8696vw, 1rem);
	--space-xs: clamp(0.75rem, 0.4891rem + 1.3043vi, 1.5rem);
	--space-s: clamp(1rem, 0.6522rem + 1.7391vi, 2rem);
	--space-m: clamp(1.5rem, 0.9783rem + 2.6087vi, 3rem);
	--space-l: clamp(2rem, 1.3043rem + 3.4783vi, 4rem);

	/* One-up pairs */
	--space-xs-s: clamp(0.75rem, 0.3152rem + 2.1739vi, 2rem);
	--space-s-m: clamp(1rem, 0.3043rem + 3.4783vi, 3rem);
	--space-m-l: clamp(1.5rem, 0.6304rem + 4.3478vi, 4rem);
	--space-s-xs: clamp(1rem, 0.8261rem + 0.8696vw, 1.5rem);

	@media (min-width: 48em) {
		--text-padding: 1rem;
		--page-block-padding: 1rem;
	}
}

@mixin dark-code {
	.astro-code,
	.astro-code span {
		color: var(--shiki-dark) !important;
		background-color: var(--shiki-dark-bg) !important;
		/* Optional, if you also want font styles */
		font-style: var(--shiki-dark-font-style) !important;
		font-weight: var(--shiki-dark-font-weight) !important;
		text-decoration: var(--shiki-dark-text-decoration) !important;
	}
}

@supports (color: light-dark(white, black)) {
	:root {
		--color-nav-link-bg: light-dark(
			var(--color-mauve-lightest),
			var(--color-violet)
		);
		--color-nav-link-text: light-dark(var(--color-violet), var(--color-white));
		--color-outline: light-dark(var(--color-violet-darker), var(--color-white));
		--color-settings-bg: light-dark(
			var(--color-gray-lighter),
			var(--color-gray)
		);

		--color-card-bg: light-dark(
			var(--color-gray-lighter),
			var(--color-violet-lighter)
		);
		--color-card-shadow: light-dark(
			var(--color-gray-darker),
			var(--color-violet)
		);
		--color-card-highlight: light-dark(
			var(--color-white),
			var(--color-gray-darker)
		);
		--color-card-text: light-dark(var(--color-violet), var(--color-off-white));
		--color-card-hover-bg: light-dark(
			var(--color-mauve-lighter),
			var(--color-violet)
		);
		--color-card-border: light-dark(
			var(--color-violet-lighter),
			var(--color-violet-darker)
		);
		--color-card-tag-bg: light-dark(var(--color-lavender), var(--color-violet));
		--color-card-tag-text: light-dark(var(--color-black), var(--color-white));

		--color-window-bg: light-dark(var(--color-white), var(--color-violet));
		--color-window-text: light-dark(
			var(--color-violet),
			var(--color-lavender-lighter)
		);
		--color-window-header-bg: linear-gradient(
			to right,
			light-dark(var(--color-lavender), var(--color-magenta-darker)),
			light-dark(var(--color-teal), var(--color-teal-darkest))
		);
		--color-window-header-text: light-dark(
			var(--color-violet),
			var(--color-white)
		);

		--color-panel-bg: light-dark(
			var(--color-gray),
			var(--color-violet-lighter)
		);
		--color-panel-input-bg: light-dark(
			var(--color-gray-lighter),
			var(--color-violet)
		);

		--color-testimonial-name: light-dark(
			var(--color-violet-lighter),
			var(--color-magenta-lighter)
		);
		--color-testimonial-bg: light-dark(
			var(--color-mauve-lightest),
			var(--color-violet-lighter)
		);
		--color-response-bg: light-dark(
			var(--color-teal-lighter),
			var(--color-teal-darkest)
		);
		--color-response-name: light-dark(
			var(--color-violet),
			var(--color-teal-lighter)
		);

		--color-link-underline: light-dark(
			var(--color-magenta),
			var(--color-mauve-lighter)
		);
		--color-text-accent: var(--color-mauve);
		--color-text-accent-bg: light-dark(
			var(--color-mauve-lighter),
			var(--color-mauve-darker)
		);
		--color-text-heading: light-dark(
			var(--color-violet-lighter),
			var(--color-mauve-lightest)
		);
		--color-text-subheading: light-dark(
			var(--color-magenta-darker),
			var(--color-magenta-lighter)
		);
		--color-text-highlight: light-dark(
			var(--color-teal-lighter),
			var(--color-violet-darker)
		);
		--color-box-border: light-dark(var(--color-lavender), var(--color-black));
		--color-box-bg: light-dark(
			var(--color-off-white),
			var(--color-violet-darker)
		);
		--color-box-text: light-dark(
			var(--color-violet-lighter),
			var(--color-lavender)
		);
		--color-list-bg-focus: light-dark(
			var(--color-magenta-lighter),
			var(--color-teal-darkest)
		);

		--color-accent-text-1: light-dark(
			var(--color-teal-lighter),
			var(--color-teal-darkest)
		);
		--color-accent-text-2: light-dark(
			var(--color-magenta-lighter),
			var(--color-magenta-darker)
		);
		--color-sparkle: light-dark(
			var(--color-magenta),
			var(--color-lavender-lighter)
		);
	}

	@media (prefers-color-scheme: dark) {
		html:not([data-user-scheme="light"]) {
			@include dark-code;
		}
		:root {
			color-scheme: dark;
		}
	}

	[data-user-scheme="dark"] {
		@include dark-code;
		color-scheme: dark;
	}

	[data-user-scheme="light"] {
		color-scheme: light;
	}
}

html[fonts-loaded="true"]:not([data-user-font="antialiased"]) {
	--font-accent: "Sysfont", var(--font-accent-fallback);
	--font-pixel: "W95fa", var(--font-pixel-fallback);
	--font-code: "Departure Mono", var(--font-code-fallback);
}
