:root {
	--color-magenta-darkest: #581e5e;
	--color-magenta-darker: #853680;
	--color-magenta: #a75293;
	--color-magenta-lighter: #cb96cc;
	--color-magenta-lightest: #e9dcee;
	--color-teal-darkest: #18656e;
	--color-teal-darker: #52a2a7;
	--color-teal: #9ddacb;
	--color-teal-lighter: #c1edc7;
	--color-teal-lightest: #f1fae9;
	--color-mauve-darkest: #26202c;
	--color-mauve-darker: #5f4c65;
	--color-mauve: #9c7a9d;
	--color-mauve-lighter: #c6b0c6;
	--color-mauve-lightest: #eee7ee;
	--color-violet-darker: #17162b;
	--color-violet: #2c2b4b;
	--color-violet-lighter: #4f4d7e;
	--color-black: #000;
	--color-gray-darkest: #5a6064;
	--color-gray-darker: #878894;
	--color-gray: #bdb6c4;
	--color-gray-lighter: #d7dde1;
	--color-white: #fff;

	--color-bg: var(--color-violet-darker);

	--color-nav-link-bg: var(--color-white);
	--color-nav-link-text: var(--color-violet-darker);
	--color-footer-bg: var(--color-gray);

	--color-button-ui-bg: var(--color-gray-lighter);
	--color-button-ui-shadow: var(--color-gray-darker);
	--color-button-ui-highlight: var(--color-white);
	--color-button-ui-text: var(--color-violet);
	--color-button-ui-hover-bg: var(--color-mauve-lighter);

	--color-page-title: var(--color-violet-darker);
	--color-page-title-accent: var(--color-teal-darker);
	--color-window-bg: var(--color-white);
	--color-window-text: var(--violet);
	--color-window-header-bg: linear-gradient(
		to right,
		var(--color-magenta-darker),
		var(--color-teal-darkest)
	);
	--color-window-header-text: var(--color-white);
	--color-link-underline: var(--color-mauve-lighter);
	--color-testimonial-name: var(--color-magenta-lighter);
	--color-testimonial-bg: var(--color-violet-lighter);
	--color-response-bg: var(--color-teal-darkest);
	--color-response-name: var(--color-teal-lighter);
	--color-text-accent: var(--color-mauve);
	--color-text-accent-bg: var(--color-mauve-darker);
	--color-text-heading: var(--color-mauve-lightest);
	--color-text-subheading: var(--color-magenta-lighter);
	--color-text-highlight: var(--color-teal-darkest);
	--color-post-tag-bg: var(--color-violet);
	--color-post-tag-text: var(--color-white);
	--color-accent-text-1: var(--color-teal-darkest);
	--color-accent-text-2: var(--color-magenta-darker);

	--font-accent: "Sysfont", monospace;
	--font-pixel: "W95fa", sans-serif;
	--base-letter-spacing: 0.02em;
	--font-fallback: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans",
		source-sans-pro, sans-serif;
	--fallback-letter-spacing: 0;
	--font-pre: var(--font-pixel);

	--font-base: var(--font-pixel);
	--border-thickness: 0.1875rem;
	--border-color: var(--color-violet-darker);
	--text-padding: var(--border-thickness) calc(var(--border-thickness) * 2);

	--max-width: 66ch;
	--window-margin-block-start: 0.5rem;
	--title-font-size: clamp(2.5rem, 7vw + 1rem, 4.5rem);
	--page-block-padding: 1rem;
	--page-inline-padding: 5%;

	--space-xs: clamp(0.75rem, 0.4891rem + 1.3043vi, 1.5rem);
	--space-s: clamp(1rem, 0.6522rem + 1.7391vi, 2rem);
	--space-m: clamp(1.5rem, 0.9783rem + 2.6087vi, 3rem);
	--space-l: clamp(2rem, 1.3043rem + 3.4783vi, 4rem);

	/* One-up pairs */
	--space-xs-s: clamp(0.75rem, 0.3152rem + 2.1739vi, 2rem);
	--space-s-m: clamp(1rem, 0.3043rem + 3.4783vi, 3rem);
	--space-m-l: clamp(1.5rem, 0.6304rem + 4.3478vi, 4rem);

	@media (min-width: 48em) {
		--text-padding: 1rem;
	}
}

@mixin dark-colors {
	::selection {
		background-color: var(--color-tertiary-light);
		color: var(--color-dark-dark);
	}

	--color-bg: var(--color-violet-darker);
	--color-nav-link-bg: var(--color-violet);
	--color-nav-link-text: var(--color-white);

	--color-window-bg: var(--color-violet);
	--color-window-text: var(--color-white);
}

@media (prefers-color-scheme: dark) {
	:root:not([data-user-color-scheme]) {
		@include dark-colors;
	}
}

[data-user-color-scheme="dark"] {
	@include dark-colors;
}
